@import "pageLayout";
@import "navBar";
@import "videoHolder";
@import 'fonts';
@import "imageSlider";
@import "map";
@import "mediaQuery";
@import "checkBox";
@import "button";
@import "infoWindow";
@import "arrows";
@import "toggle.scss";
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

