@import "Mixin";

#sm_googleMap {
  width: 100%;
  height: 84% !important;
  margin-top: 1px;
  position: absolute;
}

.sm_mapHoldFull {
  width: 100%;
  height: 100vh;
  position: relative;
}

#sm_navigation {
  width: 100%;
  height: 6%;
  z-index:2;
  position: relative;
}

.sm_mapNavOptions {
  width: 100%;
  height: 100%;
  min-height: 50px;
  background-color: antiquewhite;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.sm_navButtonsContainer{
  width:100%;
  max-width:500px ;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height:100%;
}
.sm_filterCat:hover{
  cursor: pointer;
}

.sm_navOptButton {
  height: 80%;
  width: 30%;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: #FFCE00;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  p {
    text-align-all: center;
  }
}
.sm_navOptButton:hover {
cursor: pointer;
  background-color: #e7e7e7;
}

.sm_slideOutAnimation {
  display:flex;
  animation: menuSlideOut 0.4s ease-in forwards;
}

@keyframes menuSlideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.sm_slideInAnimation {
  display: flex;
  animation: menuSlideIn 0.4s ease-in forwards;
}

@keyframes menuSlideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#sm_mapMenu {
  z-index:1;
  width: 100%;
  height: auto;
  position: absolute;
  flex-direction: column;
  align-items: center;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.sm_paddingBottomNone {
  margin-bottom: 0 !important;
}
.sm_menuItemsContainer {
  width:85%;
  max-width:650px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.sm_menuItem{
 display:flex;
    p{
      margin:0;
    }
  justify-content: space-around;
  margin-bottom:15px;
  align-items: center;
  min-height:30px;
}
.sm_menuItemInner{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sm_googleMapNearYou {
  @include transitionHeight();
  height: 50%;
}
.sm_displayNone{
  display:none;
}
.sm_searchBar{
  border-radius: 15px;
  border: 1px solid black;
  min-height:30px;
  width:60%;
  margin-right:4px;
  padding-left: 10px;
  padding-right: 10px;
}
.sm_fill{
  width:100%;
  display:flex;
  p{
    font-size:18px;
    margin-right:4px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

//https://getcssscan.com/css-buttons-examples<<--- go button css
.sm_clickable{
margin-left: 10px;

}
.sm_clickable:hover{
 p{
   color:blue;
 }

}
  .sm_filterOptions{
    display:flex;
    flex-direction: column;
  }
.sm_filterCat {
  p {
    margin: 0;
  }
}
@mixin categorySpacing(){
  margin-top:10px;
  margin-bottom:10px;
}
.sm_filterRow{
  @include categorySpacing();
  display:flex;
  p{
    font-size: 20px;
  }
}


.sm_categoryItems{
  margin-top:10px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.sm_filterCheckBox{
  display:flex;
  justify-content: space-between;
  margin-bottom:10px;
}
.sm_categoryHolders {
    margin-left: 60px;
}
.sm_labelCheckBox {
  margin-right:15px;
}
.sm_infoBoxImageHolder {
  width:100%;
}
.sm_nextPrevButtonHold {
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1000;
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sm_prevNextButtons{
  height:80%;
  width:40%;
  background-color:red;
  align-items: flex-start;
  justify-content: center;
  position:relative;
  right:0;
}
.sm_containButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  max-width:500px;
  height: 100%;
  align-items: center;
}
.sm_leftButtons {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}
.sm_leftButton {
  height:45%;
  width:95%;
}
#sm_popUpMessage {
  position:absolute;
  bottom: 200px;
  border:1px solid black;
  background-color: white;
  padding:10px;
}

.sm_popUpAnimationOut {
  animation: sm_popUpKeyFrameOut 0.4s ease-in forwards;
}

@keyframes sm_popUpKeyFrameOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(+700%);
  }
}

.sm_popUpAnimationIn {
  animation: sm_popUpKeyFrameIn 0.4s ease-in forwards;
}

@keyframes sm_popUpKeyFrameIn {
  from {
    transform: translateY(+700%);
  }
  to {
    transform: translateY(0);
  }
}

.sm_routeItemSplit {
  display:flex;
  width:100%;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
padding-top: 12px;
  padding-bottom: 13px;

}
.sm_changeOrderArrows{
  width:20%;
  display:flex;
  flex-direction: row-reverse;
}
.sm_arrowBox {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm_routeIndicator{
  width:15%;
  display:flex;
  flex-direction: row;
  margin-right:4px;
}
.sm_modeOfTransportContainer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom:15px;
}
.sm_modeOfTransport {
  width: 80px;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 2em;
  }
  //background-color: #FFD700;
  background-color: #DCDCDC;
  // https://getcssscan.com/css-box-shadow-examples
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sm_grow {
  transition: all .2s ease-in-out;
}

.sm_grow:hover {
  background-color: #FFD700;
  transform: scale(1.1);
  cursor: pointer;
}
.sm_transportSelected {
  background-color: #FFD700;
}
#sm_directionsContainer{
  width:100%;
  position:absolute;
  z-index:2;
  display:flex;
  justify-content: center;
}
#sm_directions{
  width:90%;
  position:absolute;
  z-index:1;
  max-width: 500px;
  background-color: white;
  max-height:84vh;
  overflow: scroll;
}
.sm_checkBoxButton{
  min-width:130px;
  height:30px;
  p{
    margin:0;
  }
}
.sm_openDirections{
  position:absolute !important;
  right:0;
  top:0;
  z-index:2;
  height:40px;
}
.sm_backgroundImage {
  width:100% !important;
}
.gm-iw {
  padding:10px !important;
}
.gm-style-iw-d {
  padding:15px;
}
.gm-ui-hover-effect {
  top: 3px !important;
  right: 4px !important;
  border-radius: 30px !important;
  background-color: #aaaaaa !important;
  opacity: 1!important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

