@mixin menuPhone() {
  min-width: 40vw;
}

@media screen and (max-width: 768px) {

  .sm_toggledNavItems {
    @include menuPhone()
  }
  .sm_toggledNavItemsHidden {
    @include menuPhone()
  }
  .sm_navLogo{
    margin-right:15%;
  }

  .sm_fill{
    p {
      font-size:15px;
    }

  }
  .sm_navMenuButton {
    width: 40vw;
  }
  .sm_displayIfLarge{
    display:none;
  }
}


