@import "colorScheme";
@import "Mixin";
@mixin textSpacing()
{
  margin: 0 0 4px 4px;
  padding:10px;
}
.sm_videoHolderContainer {
  height:100%;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  video {
    height:100%;
    width:100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }
}

.sm_textContent{
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom:5%;
  z-index:2;
  max-width:80%;
  display:flex;
  flex-direction: column;
  align-items: center;
 p{
  @include textSpacing();
   display:inline-block;
   text-align:center;
   font-size:1.6em;
 }
  h1 {
    @include textSpacing();
    font-size:2.7em;
    text-align:center;
    font-weight: bold;
    color:#d5c46c;
  }
}
.sm_videoPlayer{
  pointer-events: none;
}
.sm_rangeValueDisplay{
  min-width:25%;
}
.sm_holdImageSlider {
  width:100%;
  display:flex;
  z-index:2;
  align-items: center;
  margin-bottom:20%;
}
.sm_slider {
  appearance: none;
  width: 75%;
  height: 25px;
  background: #2ea44f ;
  outline: none;
  border-radius: 50px;
}

.sm_slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}